.wrapper:before {
  content: "";
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: 100;
}
.modal {
  width: 40%;
  margin: 10px auto;
  position: fixed;
  top: 20%;
  left: 30%;
  background-color: rgb(242, 107, 58);
  padding-bottom: 20px;
  z-index: 1000;
  opacity: 1;
  border-radius: 5px;
  &__header {
    background-color: rgb(204, 76, 50);
    color: white;
    font-size: 25px;
    padding: 20px 30px;
    text-align: left;
    border-radius: 5px 5px 0 0;
    margin-top: 0;
  }
  &__cloth {
    top: 10%;
    right: 3%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
  }

  &__cloth:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background: #fff;
    transform: rotate(45deg);
    top: 45%;
    right: 0%;
  }
  &__cloth:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background: #fff;
    transform: rotate(-45deg);
    top: 45%;
    right: 0%;
  }
  &__bodyText {
    color: #fff;
    width: 90%;
    margin: 40px auto;
    font-size: 18px;
  }
  &__btn {
    margin: 0 30px;
    cursor: pointer;
    color: white;
    background-color: rgb(204, 76, 50);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 15px;
  }
}
